@use '../abstracts/mixins' as *;
// Impuls section

.impuls-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  
  &__wrap-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #fff;
    border: 1px solid #efefef;

    @include mobile {
     height: 80px;
     img {
      width: 80px;
     }
    }
  }
}
